<!DOCTYPE html>
<html>
    <head>
        <title> Identity by HTML5 UP{{ namSite|trim }} - {% block title %}{% endblock %}  </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/html5/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/html5/assets/css/noscript.css" /></noscript>
	    {% block addCss %}
	    {% endblock %}
    </head>
    <body class="is-preload">
    	{% block body %}
       
        {% endblock %}
        {% block addJs %}
        {% endblock %}
    </body>
</html>
